<div class="row">
  <div class="col-md-3">
    <div class="em-wrapper-area02">
      <div class="menu-wrapper hidden-xs">
        <div id="menuleftText" class="all_categories">
          <div class="menuleftText-title">
            <div class="menuleftText">
              <span class="em-text-upercase"><%= t "categories" %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul>
        <li>
          <%= link_to t("home"), "#" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("rails.png", alt: "Rails logo"), "#" %>
          <div class="caption">
            <h3>This is book"s name (get from db)</h3>
            <p>This is book"s content (get from db)</p>
            <p>
              <%= link_to t("submit"), "#", class: "btn btn-lg btn-primary" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("rails.png", alt: "Rails logo"), "#" %>
          <div class="caption">
            <h3>This is book"s name (get from db)</h3>
            <p>This is book"s content (get from db)</p>
            <p>
              <%= link_to t("submit"), "#", class: "btn btn-lg btn-primary" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("rails.png", alt: "Rails logo"), "#" %>
          <div class="caption">
            <h3>This is book"s name (get from db)</h3>
            <p>This is book"s content (get from db)</p>
            <p>
              <%= link_to t("submit"), "#", class: "btn btn-lg btn-primary" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("rails.png", alt: "Rails logo"), "#" %>
          <div class="caption">
            <h3>This is book"s name (get from db)</h3>
            <p>This is book"s content (get from db)</p>
            <p>
              <%= link_to t("submit"), "#", class: "btn btn-lg btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
