<section id="aa-book-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-book-details-area">
          <div class="aa-book-details-content">
            <%= render "book" %>
          </div>
          <div class="aa-book-details-bottom">
            <ul class="nav nav-tabs nav-tabs-custom" id="myTab2">
              <li><%= link_to t("book_review"), "javascript:;" %></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="review">
                <div class="aa-book-review-area">
                  <% if @reviews.any? %>
                    <h4>
                      <%= "#{@reviews.count}  #{t('book_review_for')}" %>
                      <strong><%= @book.name %></strong>
                    </h4>
                  <% end %>
                  <ul class="aa-review-nav list-review">
                    <% @reviews.each do |review| %>
                      <li>
                        <div class="media">
                          <div class="media-left">
                            <%= link_to image_tag(review.user.image,
                              class: "media-object"), "#" %>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <strong><%= review.user.name %></strong>
                              &nbsp;&nbsp;
                              <span>
                                <%= "#{time_ago_in_words(review.created_at)}
                                  #{t("time_ago")}" %>
                              </span>
                            </h4>
                            <p><strong><%= review.title %></strong></p>
                            <p><%= review.content %></p>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                  <%= will_paginate @reviews %>
                  <% if logged_in? %>
                    <h4><%= t "book_new_review" %></h4>
                    <div class = "row">
                      <div class="col-md-6 mess-area-add"></div>
                    </div>
                    <%= form_for [@book, @review],
                      remote: true, html: {class: "aa-review-form"} do |f| %>
                      <div class="form-group">
                        <%= f.label :title %>
                        <%= f.text_field :title,
                          class: "form-control reset-input" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :content %>
                        <%= f.text_area :content,
                          class: "form-control reset-input" %>
                      </div>
                      <%= button_tag type: "submit",
                        class: "btn btn-default aa-review-submit" do %>
                        <span><%= t "submit_button" %></span>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="aa-book-related-item">
            <h3><%= t "book_relate" %></h3>
            <ul class="aa-book-catg">
              <%= render "related_books" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
