<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3><%= t "add_new" %></h3>
      </div>
      <div class="panel-body">
        <form method="post" action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><%= t "category_name" %></label>
                <input type="text" class="form-control"
                  placeholder="<%= t "category_name" %>">
              </div>
            </div>
            <div class = "clr"></div>
            <div class="col-md-6 top-20 padding-0">
              <div class="form-group col-md-3">
                <button class="btn ripple btn-gradient btn-info" type="submit">
                  <div><span><%= t "add_button" %></span></div>
                </button>
              </div>
              <div class="form-group col-md-3">
                <button class="btn ripple btn-gradient btn-default"
                  type="reset">
                  <div><span><%= t "reset_button" %></span></div>
                </button>
              </div>
            </div>
            <div class = "clr"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3><%= t "show" %></h3>
      </div>
      <div class="panel-body">
        <div class="responsive-table">
          <table class="table table-striped table-bordered table-custom"
            cellspacing="0">
            <thead>
              <tr>
                <th class = "first-column"><%= t "no_number" %></th>
                <th><%= t "category_name" %></th>
                <th class = "last-column"><%= t "action" %></th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each_with_index do |category, index| %>
                <tr>
                  <td class = "first-column">
                    <%= current_number Settings.per_page, index,
                      @categories.current_page %>
                  </td>
                  <td><%= category.name %></td>
                  <td class = "last-column">
                    <button class="btn btn-warning btn-mn" value="primary">
                      <%= t "edit_button" %>
                    </button>
                    <button class="btn btn-danger btn-mn" value="primary">
                      <%= t "delete_button" %>
                    </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 top-20 padding-0 custom-div">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>
