<div id="left-menu">
  <div class="sub-left-menu scroll">
    <ul class="nav nav-list">
      <li>
        <div class="left-bg"></div>
      </li>
      <li class="ripple"><%= link_to t("menu_home"), admin_root_path %></li>
      <li class="ripple"><%= link_to t("menu_cate"), admin_categories_path %></li>
      <li class="ripple"><%= link_to t("menu_book"), admin_books_path %></li>
      <li class="ripple"><%= link_to t("menu_review"), "#" %></li>
      <li class="ripple"><%= link_to t("menu_user"), "#" %></li>
      <li class="ripple"><%= link_to t("menu_request"), "#" %></li>
    </ul>
  </div>
</div>
