<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t("project_name"), "#", {class: "navbar-brand"} %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">
        <%= t "submit" %>
      </button>
    </form>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle"
          data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">
          <%= t "menu_cate" %>
        </a>
        <ul class="dropdown-menu">
          <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, root_path(category: category.id) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li class="user-name"><span><%= current_user.name %></span></li>
        <li class="dropdown avatar-dropdown">
          <%= image_tag "admin/avatar3.png", class: "img-circle avatar",
            data: {toggle: "dropdown"},
            aria: {haspopup: "true", expanded: "true"} %>
          <ul class="dropdown-menu user-dropdown">
            <li><%= link_to t("account_profile"), "#" %></li>
            <li><%= link_to t("account_setting"), "#" %></li>
            <% if verify_user_access? %>
              <li><%= link_to t("admin_section"), admin_root_path %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to t("account_logout"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="user-name"><span><%= t "account_guest" %></span></li>
        <li class="dropdown avatar-dropdown">
          <%= image_tag "admin/avatar3.png", class: "img-circle avatar",
            data: {toggle: "dropdown"},
            aria: {haspopup: "true", expanded: "true"} %>
          <ul class="dropdown-menu user-dropdown">
            <li><%= link_to t("signin_button"), login_path %></li>
            <li><%= link_to t("account_sign_up"), "/signup" %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
